doctype html
html(lang="en")
  head
    title CollabCrosswords
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='crossword.js')
    script(type='text/javascript').
      var puzzData = !{JSON.stringify(puzz)}
    script(type='text/javascript').
      $(() => createEmptyCrossword())
    link(rel='stylesheet', href='crossword.css')
  body
    #container
      #puzzContainer
      #puzzRules
